<table class="table">
<tr><td rowspan="4" colspan="1">Your Action</td><td rowspan="1" colspan="3">Opponent Action</td></tr>
<tr><td></td><td>A</td><td>B</td></tr>
<tr><td ><input type="radio" id="myChoice1" name="options">A</input></th><td id='box1'><span><i>3</i></span>, <span><i>3</i></span></td><td  id='box2'><span><i>-2</i></span>, <span><i>5</i></span></td></tr>
<tr><td><input type="radio" id="myChoice2" name="options">B</input></td><td id='box3'><span><i>5</i></span>, <span><i>-2</i></span></td><td  id='box4'><span><i>0</i></span>, <span><i>0</i></span></td></tr>
</table>


to do list

Create the page and fill in the blanks