<html>
  <head>
  <meta http-equiv='Content-Type' content='text/html; charset=ISO-8859-1'>
  <title><%= numbero %> Choose Your Action</title>
    
    <link rel='stylesheet' href='../public/stylesheets/bootstrap.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../public/javascripts/jquery.blockUI.js"></script>
      <script src="../public/javascripts/bootstrap.min.js"></script>
      <link rel='stylesheet' href='../public/stylesheets/actionPhase.css' />
<script type="text/javascript">
        var validateAnswers = function()
            { 
              alert('was called');
                    if(document.getElementById('confirmation').checked)
                    {
                      alert('Please check the confirmation box on page 1');
                      return false;
                    }
                    var correct = true;
                    var correctAnswers = [-2, 0]
                    for(var i = 0; i < 2; i++)
                    {
                      var value = -1;
                      var radios = document.getElementsByName((i + 1) + "");
                      alert(radios);
                      for (var j = 0; j < radios.length; j++) {
                          if (radios[j].checked) {
                          // get value, set checked flag or do whatever you need to
                          value = radios[j].value;       
                          }
                      }
                      if(value != correctAnswers[i])
                      {
                          alert("Some of the answers are incorrect. Please read the tutorial properly and answer the questions");
                          return false;
                      }
                    }
                  return true;    
            }
    </script>

  </head>
  <body>

<div>
<div class='form-group'>
    <label for='inputEmail3' class='control-label'>How would you assess the skills of the associate compared to your own?</label>
</div>

<div class='form-group'>
    <div class='col-sm-10'>
      <div class='checkbox'>
        <label>
          <input type='radio' name='accessSkills'>  Much less skilled
        </label>
        <label>
          <input type='radio' name='accessSkills'>  A little worse
        </label>
        <label>
          <input type='radio' name='accessSkills'>  Same as mine
        </label>
        <label>
          <input type='radio' name='accessSkills'>  A bit better
        </label>
        <label>
          <input type='radio' name='accessSkills'>  Much better skilled
        </label>
      </div>
    </div>
</div>


<div class='form-group'>
    <label for='inputEmail3' class='control-label'>How much did you enjoy playing the game with your associate?</label>
</div>

<div class='form-group'>
    <div class='col-sm-10'>
      <div class='checkbox'>
        <label>
          <input type='radio' name='enjoy'>  Not at all
        </label>
        <label>
          <input type='radio' name='enjoy'>  A little
        </label>
        <label>
          <input type='radio' name='enjoy'>  Average
        </label>
        <label>
          <input type='radio' name='enjoy'>  A lot
        </label>
        <label>
          <input type='radio' name='enjoy'>  Very much
        </label>
      </div>
    </div>
</div>


<div class='form-group'>
    <label for='inputEmail3' class='control-label'>To what extent have you previously participated in other studies like this one?</label>
</div>

<div class='form-group'>
    <div class='col-sm-10'>
      <div class='checkbox'>
        <label>
          <input type='radio' name='familiarity'>  Nothing like this scenario
        </label>
        <label>
          <input type='radio' name='familiarity'>  Something like this scenario
        </label>
        <label>
          <input type='radio' name='familiarity'>  Exactly this scenario
        </label>
      </div>
    </div>
</div>


<div class='form-group'>
    <label for='inputEmail3' class='control-label'>Are you generally a person who is fully prepared to take risks or do you try to avoid taking risks?</label>
</div>

<div class='form-group'>
    <div class='col-sm-10'>
      <div class='checkbox'>
        <label>
          <input type='radio' name='risk'>  Unwilling to take risks
        </label>
        <label>
          <input type='radio' name='risk'>  Sometimes takes risks
        </label>
        <label>
          <input type='radio' name='risk'>  Fully prepared to take risks
        </label>
      </div>
    </div>
</div>

<div class='form-group'><label for='inputEmail3' class='control-label'>To what extent do the following terms describe your associate's behavior in the game?</label></div>

<div class='form-group'><div class='col-sm-offset-3 col-sm-6'><table class='table'>
<tr><td></td><td colspan='2'>Low</td><td>Medium</td><td colspan='2'>High</td></tr>
<tr><td>Cooperative</td><td><input type='radio' name='cooperative'/> 1</td>
<td> <input type='radio' name='cooperative'/> 2</td>
<td><input type='radio' name='cooperative'/> 3</td>
<td><input type='radio' name='cooperative'/> 4</td>
<td><input type='radio' name='cooperative'/> 5</td></tr>

<tr><td>Forgiving</td><td><input type='radio' name='forgiving'/> 1</td>
<td> <input type='radio' name='forgiving'/> 2</td>
<td><input type='radio' name='forgiving'/> 3</td>
<td><input type='radio' name='forgiving'/> 4</td>
<td><input type='radio' name='forgiving'/> 5</td></tr>

<tr><td>Predictable</td><td><input type='radio' name='predictable'/> 1</td>
<td> <input type='radio' name='predictable'/> 2</td>
<td><input type='radio' name='predictable'/> 3</td>
<td><input type='radio' name='predictable'/> 4</td>
<td><input type='radio' name='predictable'/> 5</td></tr>

<tr><td>Vengeful</td><td><input type='radio' name='vengeful'/> 1</td>
<td> <input type='radio' name='vengeful'/> 2</td>
<td><input type='radio' name='vengeful'/> 3</td>
<td><input type='radio' name='vengeful'/> 4</td>
<td><input type='radio' name='vengeful'/> 5</td></tr>

<tr><td>Selfish</td><td><input type='radio' name='selfish'/> 1</td>
<td> <input type='radio' name='selfish'/> 2</td>
<td><input type='radio' name='selfish'/> 3</td>
<td><input type='radio' name='selfish'/> 4</td>
<td><input type='radio' name='selfish'/> 5</td></tr>

</table></div></div>

<div class='form-group'><label for='inputEmail3' class='control-label'>To what extent do the following terms describe your behavior in the game? </label></div>

<div class='form-group'><div class='col-sm-offset-3 col-sm-6'>

<table class='table'><tr><th></th><th colspan='2'>Low</th><th>Medium</th><th colspan='2'>High</th></tr>
<tr><td>Cooperative</td><td><input type='radio' name='cooperative1'/> 1</td>
<td> <input type='radio' name='cooperative1'/> 2</td>
<td><input type='radio' name='cooperative1'/> 3</td>
<td><input type='radio' name='cooperative1'/> 4</td>
<td><input type='radio' name='cooperative1'/> 5</td></tr>

<tr><td>Forgiving</td><td><input type='radio' name='forgiving1'/> 1</td>
<td> <input type='radio' name='forgiving1'/> 2</td>
<td><input type='radio' name='forgiving1'/> 3</td>
<td><input type='radio' name='forgiving1'/> 4</td>
<td><input type='radio' name='forgiving1'/> 5</td></tr>

<tr><td>Predictable</td>
<td><input type='radio' name='predictable1'/> 1</td>
<td> <input type='radio' name='predictable1'/> 2</td>
<td><input type='radio' name='predictable1'/> 3</td>
<td><input type='radio' name='predictable1'/> 4</td>
<td><input type='radio' name='predictable1'/> 5</td></tr>

<tr><td>Vengeful</td>
<td><input type='radio' name='vengeful1'/> 1</td>
<td> <input type='radio' name='vengeful1'/> 2</td>
<td><input type='radio' name='vengeful1'/> 3</td>
<td><input type='radio' name='vengeful1'/> 4</td>
<td><input type='radio' name='vengeful1'/> 5</td></tr>

<tr><td>Selfish</td>
<td><input type='radio' name='selfish1'/> 1</td>
<td> <input type='radio' name='selfish1'/> 2</td>
<td><input type='radio' name='selfish1'/> 3</td>
<td><input type='radio' name='selfish1'/> 4</td>
<td><input type='radio' name='selfish1'/> 5</td></tr>
</table></div></div></div>


<div class='form-group'><label for='inputEmail3' class='control-label'>Associate Identity: At the beginning of the game, you were told that you would be playing the game with a BOT (or HUMAN). Giving your actual experience playing the game, who do you think you played with?</label></div>

<div class='form-group'><div class='col-sm-10'><div class='checkbox'><label><input type='radio' name='thought'>  Yes, a BOT as said</label><label><input type='radio' name='thought'>  No, a HUMAN associate</label></div></div></div>

<div class='form-group'><div class='col-sm-10'><label for='inputEmail3' class='control-label col-sm-6'>Please explain briefly the reason for your choice above.</label>
<div class=' col-sm-6'><textarea class='form-control' rows='3'></textarea></div></div></div>


<div class='form-group'><label for='inputEmail3' class='control-label'>Associate Preference: Considering your experience in the just concluded game, who would you rather play the same game with?” </label></div>

<div class='form-group'> <div class='col-sm-10'>
      <div class='checkbox'><label><input type='radio' name='preference'>  BOT
        </label><label> <input type='radio' name='preference'>  HUMAN
        </label></div></div></div>

<div class='form-group'><div class='col-sm-10'><label for='inputEmail3' class='control-label col-sm-6'>Please explain briefly the reason for your choice above.</label>
<div class=' col-sm-6'><textarea class='form-control' rows='3'></textarea></div></div></div>

</body>
</html>