<div class="well" id="quiz">
		<p class="text-info">We hope the tutorial was useful. You may proceed to the waiting room for the game, once you submit correct answers to all the following questions regarding the payoff structure below:</p>
		<table class="cleantable" id="payoffMatrix">
		<tr><td class="tabledata"></td><td class="tabledata"></td><th class="tableheader" colspan="2">Your Action</th></tr>
		<tr><td class="tabledata"></td><td class="tabledata"></td><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">A</button></th><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">B</button></th></tr>
			<tr><th class="tableheader" rowspan="2">Their<br/>Action</th><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">A</button></th><td class="tabledata"><span class="youget">You Get <%= payoffMatrix[3] %></span><br/><span class="theyget">They Get <%= payoffMatrix[3] %></span></td><td class="tabledata"><span class="youget">You Get <%= payoffMatrix[1] %></span><br/><span class="theyget">They Get <%= payoffMatrix[2] %></span></td></tr>
			<tr><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">B</button></th><td class="tabledata"><span class="youget">You Get <%= payoffMatrix[2] %></span><br/><span class="theyget">They Get <%= payoffMatrix[1] %></span></td><td class="tabledata"><span class="youget">You Get <%= payoffMatrix[0] %></span><br/><span class="theyget">They Get <%= payoffMatrix[0] %></span></td></tr>
		</table>
					<script language="javascript">rotateTableById("payoffMatrix",<%= rotateColumns %>,<%= rotateRows %>);</script>
		</div>
		<br/>
					<p>
					</p>
			<table class="cleantable" id="quiztable">
				<% for(int i = 0; i < 2; i++) { %>
					<% for(int j = 0; j < 2; j++) {
						int nq = i * 2 + j *1;
						int cq = nq+1;
						boolean bi = (i == 1);
						boolean bj = (j == 1);
					%>
				<tr>
					<td class="tableinstruction">
					How much do you get if you choose action <%= bi?"A":"B" %> <%= bi==bj?"and":"but" %> the other player <%= bi==bj?"also":"" %> chooses action <%= bj?"A":"B" %>?
					<span id="q<%= cq %>i"></span>
					<br/>
					<input type="radio"<%= nq==2?(" id=\"q"+cq+"a\""):"" %> name="q<%= cq %>" value="<%= nq==2?"0":"1" %>"><%= payoffMatrix[2] %><br/>
					<input type="radio"<%= nq==0?(" id=\"q"+cq+"a\""):"" %> name="q<%= cq %>" value="<%= nq==0?"0":"1" %>"><%= payoffMatrix[0] %><br/>
					<input type="radio"<%= nq==3?(" id=\"q"+cq+"a\""):"" %> name="q<%= cq %>" value="<%= nq==3?"0":"1" %>"><%= payoffMatrix[3] %><br/>
					<input type="radio"<%= nq==1?(" id=\"q"+cq+"a\""):"" %> name="q<%= cq %>" value="<%= nq==1?"0":"1" %>"><%= payoffMatrix[1] %>
					</td>
				</tr>
					<% } %>
				<% } %>
			</table>
			<br/><br/>
			<div class="alert alert-error" id="warningMessage" style="display:none;"></div>
			<div id="goahead" style="display:none;"><div class="alert alert-success">You have answered all questions correctly.</div><br/><div class="alert alert-info" id="instructionMessage" style="display:<%= Constants.ACTIVATE_API?"none":"block" %>;"><h3>Please wait for the experiment coordinator to provide you with the game access code.</h3></div></div>
			<br/><br/>
<div id="contactme" style="display:none;"><div class="instruction"<% if(!Constants.ACTIVATE_API) { %> style="display:none;"<% } %>><input type="checkbox" id="contactable" checked="checked"/>&nbsp;I would like to be notified of future experiments.</div></div>